.mb-customerservice-trigger {
    top: 200px;
}

.mb-customerservice-magnet {
    position: absolute;
    width: 100px;
    height: 30px;
    background: #666;
    border: 1px solid #000;
    color: #fff;
    opacity: 0;
    filter:alpha(opacity=0);
}