.mb-message-trigger {
    top: 150px;
}

.mb-message-magnet {
    float: left;
    width: 100px;
    height: 100%;
    background-color: #666;
    border: 1px solid #000;
    color: #fff;
}