<div class="mb-container J_mb_container">
    <a href="javascript:void(0);" class="mb-trigger mb-customerservice-trigger J_mb_trigger" data-module="login">
        <span class="J_mb_tips mb-tips">客户服务<i class="mb-arrow">◆</i></span>
    </a>
    <a href="javascript:void(0);" class="mb-trigger mb-message-trigger J_mb_trigger" data-module="message">
        <span class="J_mb_tips mb-tips">我的收藏<i class="mb-arrow">◆</i></span>
    </a>
    <a href="javascript:void(0);" class="mb-trigger mb-login-trigger J_mb_trigger" data-module="login"><span class="J_mb_tips mb-tips">我看过的<i class="mb-arrow">◆</i></span></a>
</div>